/*@import url(https://fonts.googleapis.com/css?family=Pacifico);*/
@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
    /*text-align: center;*/
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Lobster', cursive;
    font-size: 30px;
    background: #F44336;
    color: white;
}

h1 { text-align: center; }

.hidden {
    display: none;
}

.alert {
    background: #8E0909;
}

div.container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.container input {
    border: none;
    /*width: auto;*/
    text-overflow: ellipsis;
}

div.container form.authForm input {
    width: 100%;
    text-align: center;
}

/*
div.container div.plate {
    padding: 1em;
}
*/
